<form class="editor-left">
  <div class="form-row">
    <label>Name</label><input type="text" placeholder="Name">
  </div>
  <div class="form-row">
    <label>Description</label><input type="text" placeholder="Description">
  </div>
  <div class="form-row">
    <label>Keywords</label><input type="text" placeholder="Keywords">
  </div>
  <div class="form-row">
    <label>Authors</label><input type="text" placeholder="Authors">
  </div>
  <div class="form-row">
    <label>Groups</label><input type="text" placeholder="Groups">
  </div>
  <div class="form-row">
    <label>Info</label><input type="text" placeholder="Info">
  </div>
  <div class="form-row">
    <label>Sources</label><input type="text" placeholder="Sources">
  </div>
  <div class="form-row">
    <label>Fields</label><input type="text" placeholder="Fields">
  </div>
  <div class="form-row">
    <label>Resolver</label><input type="text" placeholder="Resolver">
  </div>
</form>
<div class="editor-right">Hello</div>
<div #editor class="editor-bottom"></div>