.two-pane-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left-pane {
    grid-column: 1;
    height: 100%;
    box-sizing: border-box;
  }

  .right-pane {
    grid-column: 2;
    height: 100%;
    box-sizing: border-box;
  }
}