.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 10.5em);

  .left-pane {
    grid-column: 1;
    height: 100%;
    padding-right: 0.25em;
    overflow: scroll;
  }

  .right-pane {
    grid-column: 2;
    height: 100%;
    padding-left: 0.25em;
    overflow: scroll;
  }
}