.node {
  width: fit-content;
  height: fit-content;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 100%;
}

.label {
  padding: 0.5rem;
  width: 50px;
  font-size: 0.5rem;
  text-align: center;
}