<mat-card class="h-100">
  <mat-card-title>Configuration</mat-card-title>
  <mat-card-content class="card-content">
    <form>
      <!-- Device Information -->
      <div class="mat-h3">Device Information</div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Manufacturer</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <!-- Stream Information -->
      <div class="mat-h3">Stream Information</div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Manufacturer</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>