<mat-card class="h-100">
  <mat-card-title>Configuration</mat-card-title>
  <mat-card-content class="card-content">
    <form>
      <!-- Device Information -->
      <div class="mat-h3">Device Information</div>
      <mat-form-field appearance="outline">
        <mat-label>Model</mat-label>
        <input [(ngModel)]="metadata.device.model" name="metadata.device.model" type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Manufacturer</mat-label>
        <input [(ngModel)]="metadata.device.manufacturer" name="metadata.device.manufacturer" type="text" matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input [(ngModel)]="metadata.device.category" name="metadata.device.category" type="text" matInput>
      </mat-form-field>
      <!-- Stream Information -->
      <div class="mat-h3">Stream(s) Information</div>
      <button mat-raised-button color="primary" (click)="addNewStream()">Add Stream</button>
      <br>
      <ng-container *ngFor="let stream of metadata.streams; index as i">
        <h3>Stream {{i + 1}}<button mat-raised-button color="primary" (click)="removeStream(i)">&times;</button></h3>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="metadata.streams[i].name" name="stream.name" type="text" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input [(ngModel)]="metadata.streams[i].description" name="stream.description" type="text" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Unit</mat-label>
          <input [(ngModel)]="metadata.streams[i].unit" name="stream.unit" type="text" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Frequency</mat-label>
          <input [(ngModel)]="metadata.streams[i].frequency" name="stream.frequency" type="text" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Channels</mat-label>
          <input [(ngModel)]="metadata.streams[i].channels" name="stream.channels" type="text" matInput>
        </mat-form-field>
      </ng-container>
    </form>
    <button mat-raised-button color="primary" (click)="onUpdate.emit(metadata)">Update</button>
  </mat-card-content>
</mat-card>