numpy~=1.25.1
pandas~=2.0.3
pylsl~=1.16.1
websockets~=11.0.3
pillow~=10.0.0
lxml~=4.9.3
jsonschema~=4.18.4
msgpack~=1.0.5
pyzmq~=25.1.0
matplotlib~=3.7.2
grpcio~=1.56.2
grpcio-tools~=1.56.2
h5py~=3.9.0
python-dotenv~=1.0.0
xmltodict~=0.13.0