numpy~=1.25.0
pandas~=2.0.3
pylsl~=1.16.1
websockets~=11.0.3
pillow~=10.0.0
lxml~=4.9.2
jsonschema~=4.17.3
msgpack~=1.0.5
pyzmq~=25.1.0
matplotlib~=3.7.1
grpcio~=1.56.0
grpcio-tools~=1.56.0
h5py~=3.9.0
python-dotenv~=1.0.0