numpy~=1.26.0
pandas~=2.1.1
pylsl~=1.16.1
websockets~=11.0.3
pillow~=10.0.1
lxml~=4.9.3
jsonschema~=4.19.1
msgpack~=1.0.6
pyzmq~=25.1.1
matplotlib~=3.8.0
grpcio~=1.58.0
grpcio-tools~=1.58.0
h5py~=3.9.0
python-dotenv~=1.0.0
xmltodict~=0.13.0
streaminghub-pydfds~=0.1.30
avro~=1.11.3
click~=8.1.7
