:host {
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}