{% extends 'layout.html' %}
{% block content %}
<!-- File Browser Panel -->
<form method="post" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="d-inline">Add Files into Dataset</h5>
    </div>
    <div class="card-body">
      <p>
        Browser your files using the panel below.
        In each folder, mark the files that belong to the dataset, and click on "Update Selection".
        This will add them to a dataset.
      </p>
      <div class="row my-2">
        <div class="col-12">
          {% autoescape false %}
          {{breadcrumbs}}
          {% endautoescape %}
        </div>
      </div>
      <div id="view0_container" {% if view_id==1 %} style="display: none;" {% endif %}>
        <hr class="my-2">
        <div class="file-container">
          <div class="row">
            {% for k, dir_i in dir_dict.items() %}
            <div class="col-2 mt-2">
              <a href="/files/{{dir_i.f_url}}" class="thumbnail hvr-grow" title="{{dir_i.f_name}}">
                <img src="{{dir_i.image}}" class='img-thumbnail' />
                <span class="overflow-ellipsis">{{ dir_i.f_name }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
          {% if dir_dict|length > 0 and file_dict|length > 0 %}
          <hr class="my-2">
          {% endif %}
          <div class="row">
            {% for k,dir_i in file_dict.items() %}
            <div class="col-2 mt-2">
              <a href="/download/{{dir_i.f_url}}" class="thumbnail hvr-grow" title="{{dir_i.f_name}}">
                <img src="{{dir_i.image}}" class='img-thumbnail' />
                <span class="overflow-ellipsis">{{ dir_i.f_name }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <hr class="my-2">
      </div>
      <div id="view1_container" {% if view_id==0 %} style="display: none;" {% endif %}>
        <hr class="mt-2 mb-0">
        <div class="file-container table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th><input class="form-check-input me-2" type="checkbox" id="chk-select-all">Name</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              {% for k,dir_i in dir_dict.items() %}
              <tr title="{{dir_i.f_name}}">
                <td>
                  <a href="/files/{{dir_i.f_url}}">
                    <img class="border-0 pe-1" src='{{dir_i.image}}'
                      style="height:1.2em; vertical-align: text-bottom;" />
                    {{dir_i.f_name}}
                  </a>
                </td>
                <td>{{dir_i.dtc}}</td>
                <td>{{dir_i.dtm}}</td>
                <td>{{dir_i.size}}</td>
              </tr>
              {% endfor %}
              {% for k,dir_i in file_dict.items() %}
              <tr title="{{dir_i.f_name}}">
                <td>
                  <input class="form-check-input" data-curator-check type="checkbox" name="selection[]" value="{{k}}" {%
                    if k in selection_dict %} checked disabled {% endif %}>
                  <a href="/download/{{dir_i.f_url}}">
                    <img class="border-0 pe-1" src='{{dir_i.image}}'
                      style="height:1.2em; vertical-align: text-bottom;" />
                    {{dir_i.f_name}}
                  </a>
                </td>
                <td>{{dir_i.dtc}}</td>
                <td>{{dir_i.dtm}}</td>
                <td>{{dir_i.size}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <button type="submit" class="btn btn-success" name="action" value="update">Add to Dataset</button>
    </div>
  </div>
</form>
<!-- Selection Panel -->
<form method="post" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="d-inline">Annotate your Dataset</h5>
    </div>
    <div class="card-body">Next, add metadata to the files you selected.
      Start with providing a name for your dataset.
      Next, add metadata to each file individually, as groups, or all at once.
      </p>
      <div class="row">
        <div class="form-group mb-3">
          <label for="dataset_name" class="form-label"><b>Dataset Name</b></label>
          <input class="form-control" type="text" id="dataset_name" name="dataset_name" placeholder="Enter a Name">
        </div>
      </div>
      <div id="selection_container">
        <div class="row">
          <div class="col-auto">
            <label for="selection[]" class="form-label"><b>Files and Metadata</b></label>
          </div>
        </div>
        <hr class="my-0">
        <div class="file-container table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th><input class="form-check-input me-2" type="checkbox" id="chk-selection-select-all">Name</th>
                <th>Path</th>
                <th>Size</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for k,dir_i in selection_dict.items() %}
              <tr title="{{dir_i.f_name}}">
                <td>
                  <input class="form-check-input" data-curator-selection-check type="checkbox" name="selection[]"
                    value="{{k}}">
                  <a href="/download/{{dir_i.f_url}}">
                    <img class="border-0 pe-1" src='{{dir_i.image}}'
                      style="height:1.2em; vertical-align: text-bottom;" />
                    {{dir_i.f_name}}
                  </a>
                </td>
                <td>/{{'/'.join(dir_i.f_url.split('/')[:-1])}}</td>
                <td>{{dir_i.size}}</td>
                <td class="text-end"><span class="btn btn-sm btn-danger ms-1">&times;</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr class="my-2">
        <div class="input-group mt-2">
          <input class="form-control" type="text" name="name_pattern"
            placeholder="Name Pattern - e.g., 'S{id}_T{task}.csv'">
          <button type="submit" class="btn btn-success" name="action" value="name_pattern">Execute</button>
        </div>
        <div class="input-group mt-2">
          <input class="form-control" type="text" name="path_pattern"
            placeholder="Path Pattern - e.g.,'/sub-{id}/ses-{noise}'">
          <button type="submit" class="btn btn-success" name="action" value="path_pattern">Execute</button>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-warning" name="action" value="remove">Remove Selected Files</button>
          <button type="submit" class="btn btn-warning" name="action" value="reset">Remove All Files</button>
        </div>
      </div>
</form>
{% endblock content %}
{% block scripts %}
<script>
  const allQuery = "[data-curator-check]:not([disabled])";
  const selectionAllQuery = "[data-curator-selection-check]:not([disabled])";

  document.getElementById("chk-select-all").addEventListener('change', function () {
    document.querySelectorAll(allQuery).forEach(e => {
      e.checked = document.getElementById("chk-select-all").checked;
    })
  })
  document.querySelectorAll(allQuery).forEach(e => {
    e.addEventListener('change', function () {
      let checked = true;
      document.querySelectorAll(allQuery).forEach(e => checked = checked && e.checked);
      document.getElementById("chk-select-all").checked = checked;
    })
  })
  document.getElementById("chk-selection-select-all").addEventListener('change', function () {
    document.querySelectorAll(selectionAllQuery).forEach(e => {
      e.checked = document.getElementById("chk-selection-select-all").checked;
    })
  })
  document.querySelectorAll(selectionAllQuery).forEach(e => {
    e.addEventListener('change', function () {
      let checked = true;
      document.querySelectorAll(selectionAllQuery).forEach(e => checked = checked && e.checked);
      document.getElementById("chk-selection-select-all").checked = checked;
    })
  })
</script>
{% endblock scripts %}